<div class="row mx-md-5">
    <div class="col-md-1"></div>
    <div class="col-md-3 py-2">
        <app-right-menu 
            (onSelectCity)="setCity($event)" 
            (onSelectSpecialty)="SelectSpecialty($event)"
            (onSelectSubSpecialty)="SelectSubSpecialty($event)"
            [cities]="cities" 
            [city]="city" 
            [areas]="areas" 
            [area]="area"
            [subSpecialties]="subSpecialties"
            [subSpecialtyLink]="subSpecialtyLink"
            [specialty]="specialty"
        >
        </app-right-menu>
    </div>
    <div class="col-md-7 py-2">
        <app-doctor-list [doctors]="doctors" title="لیست آدرس و تلفن بهترین پزشکان" [city]="city"></app-doctor-list>
    </div>
    <div class="col-md-1"></div>
    <app-pagination (onSelectPage)="setPage($event)" [perPage]="10" [ItemCount]="40"></app-pagination>
</div>